body {
    margin: 0;
    padding: 0;
    align-items: center;
}

.card-img-top:hover {
    transform: scale(1.08);
    transition: 0.8s;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin: 0 2.5% 0 2%;

}

.col-12 {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 1rem auto 0 auto;
}

.textgradient {
    display: inline;
    background: linear-gradient(to right, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}


.qtd_select {
    display: flex;
    justify-content: center;
    align-items: center;


}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.card {
    padding: 1%;
    margin: 0% 1.7em;
    width: 18rem;
    align-items: center;
}


.card-footer {
    padding: 0.5rem 0.5rem;
    width: 15rem;
    border-color: #034C8C;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}


.qtd-center {
    justify-content: center;
    padding: 0.5em 2em 0 2em;
    display: grid;
    align-items: center;
    align-content: center;
    margin-top: 0;
}


.qtd {
    justify-content: end;
    padding: 1em 2em 0 2em;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.qtd-b {
    justify-content: end;
    padding: 1em 2em 0 2em;
    display: flex;

}

.qtd_select:focus {
    border-top-color: #86B7FE;
    border-bottom-color: #86B7FE;
    border-left-color: #86B7FE;
    border-right-color: rgb(134, 183, 254);
    border-radius: 5px;
    box-shadow: rgba(134, 183, 254, 0.5) 0px 0px 0px 3px;
}

.footer {
    background-color: #000000;
    color: #F2FFFC;
    padding: 1rem 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.80;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 2%;
    align-items: center;

}

.formulario {
    margin-right: 0;
    display: flex;
    width: 50%;
    align-items: center;
    padding: 2% 3%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 2% 5% 15vh 5%;

}

.cont-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-items: baseline;
}

.cad-sala {
    display: flex;
    text-align: center;
    margin: auto;

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.card-text {
    word-break: break-all;
}

#card {
    margin: 2%;
}

#card:hover {
    transform: scale(1.1);
    transition: .5s;
    margin: 3px;
}


#fotoEdit img {
    border-radius: 50%;
    /* width: 17em; */
    /* height: 17em; */
}

#fotoEdit {
    display: flex;
    justify-content: center;
}


#fotoEdit input {
    display: none;
}

#foto {
    display: flex;
    justify-content: center;
}


#foto img {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    margin: 1rem 0 0 0;
}


#foto input {
    display: none;
}

.card-img-top {
    margin-top: 2em;
    width: 15em;
    height: 15em;
    border: double 6.5px transparent;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at left, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    background-origin: border-box;
    background-clip: padding-box, border-box;

}

.cad-aluno {
    display: flex;
    margin: 0% 30% 5% 30%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.editAluno {
    word-break: break-all;
    text-align: center;
    background-color: #FFFFFF;
    margin: auto;
    border: double 4.5px transparent;
    border-radius: 1rem;
    background-image: linear-gradient(white, white), radial-gradient(circle at left, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 1rem;

}

.btn-outline-dark:hover {
    background-color: #005691;
    border-color: #F2FFFC;
}

.btn {
    border-color: #005691;
    color: #005691;
    border-radius: 10px;
    margin: 0.2rem;
}

.btn-sala {
    border-color: #005691;
    color: #005691;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-top: 0;
    height: 1.7rem;
    margin: 0 0.1rem;
}


.custom-select {
    display: flex;
    justify-content: center;
    align-items: center;

}

.custom-option {
    width: auto;
    border-color: #c1c1c1;
    border-radius: 0.5rem;
    justify-items: center;
    text-align: center;
}

#editar {
    background-color: #FFFFFF;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    margin: auto auto 20vh auto;
    border-radius: 20px;
}



#editar a {
    width: 10em;
}

#cadastroAluno {
    width: 40%;
}

#cadastroSala {
    width: 40%;
    margin: 2px 30% 2px 30%;
}

.p-3 {
    font-weight: 400;
}