body {
    margin: 0;
    padding: 0;
}

.card-img-top:hover {
    transform: scale(1.08);
    transition: 0.8s;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    margin: 0 2.5% 0 2%;

}

.textgradient {
    display: inline;
    background: linear-gradient(to right, #D91424, #8C3A87, #034C8C, #04C4D9, #03A65A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 700;
}

.card {
    padding: 1%;
    margin: 0% 1.7em;
    width: 18rem;
    align-items: center;
}

.card-edit {
    margin: 4% 2%;
    width: 20rem;
    align-items: center;
}

.card-footer {
    padding: 0.5rem 0.5rem;
    width: 15rem;
    border-color: #D91424;
    background-color: transparent;
}



.qtd {
    text-align: end;
    padding: 2em 2em 0 2em;
}

.footer {
    background-color: #000000;
    color: #F2FFFC;
    padding: 1rem 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.80;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 2%;
    align-items: center;

}

.formulario {
    margin-right: 0;
    display: flex;
    width: 50%;
    align-items: center;
    padding: 2% 3%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 2% 5% 8% 5%;
}

.cad-sala {
    display: flex;

}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#card {
    margin: 2%;
}

#card:hover {
    transform: scale(1.1);
    transition: .5s;
    margin: 3px;
}


#foto
{
    display: flex;
    justify-content: center;
}


#foto img
{
    border-radius: 50%;
    width: 17em;
    height: 17em;
}


#foto input
{
    display: none;
}

.card-img-top {
    margin-top: 2em;
    border-radius: 50%;
    width: 15em;
    height: 15em;

}

.cad-aluno{
    display: flex;
    margin: 0% 30% 5% 30%;
    align-items: center;
    justify-content: center;
}

.btn-outline-dark:hover{
    background-color: #D91424;
    border-color: #F2FFFC;
}

.btn{
    border-color: #D91424;
    color: #D91424;
}